{% extends 'base.html.twig' %}

{% block title %}Order Management{% endblock %}

{% block body %}
<div id="app"></div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/global.css') }}">
{% endblock %}
