

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

body {
    padding:20px 0;
}

.order-list {
    .actions {
        text-align:center;
        a {
            display: inline-block;
            margin:0 5px;
        }
    }
}

@import '~bootstrap-sass/assets/stylesheets/bootstrap';